/*
............................................
these is notes:

css grid layout module instructions:
https://www.w3schools.com/css/css_grid.asp

!! links must be in this order to work:
A:LINK---A:VISITED---A:HOVER---A:ACTIVE
its dumb but it is(see jessicas infinity pi page)

https://www.w3schools.com/html/html_id.asp

!!!!! ~ https://htmlcolorcodes.com/ ~ !!!!!


............................................
*/

body{
	padding: 40px; color: #885FE4; background-color: #412286;
}

p{ font-size:20px;}


a:link {
	text-decoration:none;
}

a:visited{

}

a:hover{

}

a:active{

}
li{
	padding: 8px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-columns: 400px 400px;
	gap: 50px 90px;
	padding: 10px;
}

.grid-item{
	background-color: #35294F;
	border: 15px solid #C4ACFA;
	padding: 20px;
	font-size: 15px;
	text-align: center;
}
   
