/*
............................................
these is notes:

css grid layout module instructions:
https://www.w3schools.com/css/css_grid.asp

!! links must be in this order to work:
A:LINK---A:VISITED---A:HOVER---A:ACTIVE
its dumb but it is(see jessicas infinity pi page)

https://www.w3schools.com/html/html_id.asp

!!!!! ~ https://htmlcolorcodes.com/ ~ !!!!!

vimeo video page : https://vimeo.com/
jdotcoopers@gmail.com
C++


............................................
*/

body{
	padding: 40px; color: #CCD1D1; background-color: #000000;
}

p{ font-size:20px;}
#question {color: #CCD1D1 ;}

a:link {color:#CCD1D1;
	text-decoration:none;
}

a:visited{color:#555151;

}

a:hover{color:#FFFFFF;

}

a:active{

}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto ;
	grid-template-columns: 100px 100px 100px 100px;
	gap: 50px 90px;
	padding: 10px;
	background-color: #212121;
	padding: 10px;
}

.grid-item{
	background-color: black;
	border: 1px solid #616161;
	padding: 10px;
	font-size: 15px;
	text-align: center;
}
   
#def{
	font-size: 20px;
}
