/*
.........................
these is notes:

........................
*/

body{	padding:50px;
	background-color:#304F7C;
	color:#99ccff;}

table{	margin-left:auto;
	margin-right:auto;}
	/* why does this NOT center the table  */
