/* 
this is a single line and multi line comment. I wanted to say something specific earlier but i forgot what it was
 */
#dot
{
font-size: 40px ;
}
body
{
background-color: midnightblue;
}
h1
{
color: mediumturquoise;
font-family: courier;
font-size: 100%;
text-align: center;
}
p
{
color: steelblue;
border: 1px solid powderblue;
}