/* 
this is a single line and multi line comment. I wanted to say something specific earlier but i forgot what it was
 */
body{
background-color: midnightblue;
padding-top: 30px;
padding-bottom: 30px;
padding-right: 80px;
padding-left: 80px;
}

h1{
color: mediumturquoise;
font-family: courier;
font-size: 50px;
text-align: center;
}

h2{
color:white;
}

ul{
color:white;
font-size: 18px;
}

p{
color: white;
font-size: 20px;
font-family: helvetica;
}

a:link, a:visited{
background-color:blue;
color:white;
padding:5px 5px;
text-align:center;
text-decoration:none;
display:inline-block;
}
a:hover, a:active{
background-color:lightblue;
}