/* ........................................
these is notes:

html color names+
https://htmlcolorcodes.com/color-names/

............................................*/ 

body{	background-color:DarkBlue;
	color:LightPink;
	padding:50px;}
p{}