/*
............................................
these is notes:
padding:
https://www.w3schools.com/css/css_padding.asp

tables:
https://www.w3schools.com/html/html_tables.asp
https://www.w3schools.com/css/css_table.asp 

change size of div:
https://www.bing.com/search?q=how+to+change+the+size+of+a+div&PC=U316&FORM=CHROMN

**:
the table is for images had all images w300h200 except center image with was w400h300. moving size over to css page to play with making everything fit on my surface screen the way i want. other option is to investigage making page reactive

??:
investigate flex boxes: need to figure out how to center the table inside the div along with the h1's

##:
these were css for the two div boxes around the pics. I really just wanted a border around the edge of the body and cant figure out how to put the thick border out. Also cant center the images inside the border if i make it bigger.
#bear{
	border-style:solid;
	border-width:50px;
	border-color:yellow;
	border-radius:10px;
	width:2000px;
	height:2000px;
	display:flex;
	justify-content:center;
}

#insides{

}

vertical text:
https://davidwalsh.name/css-vertical-text

image mapping:
https://www.w3schools.com/html/html_images_imagemap.asp
((would love to do an image map but I cant you need exact coordinates and IDK how to get that))
...........................................
*/

body{
	background-color:darkgray;
	color:lightblue;
}



table{
	margin-left:auto;
	margin-right:auto;
		
}

td{
	text-align:center;
}

body{
	padding:100px;
}

#top{
	transform:rotate(180deg);
	text-align:center;
}

#bott{
	text-align:center;
}

#rtvert{
	transform:rotate(90deg);
	transform-origin: left top ;
	float:left;
	text-align:center;
}

#lfvert{
	transform:rotate(-90deg);
	transform-origin:right top;
	float:right;
	text-align:center;
}

img{
	width:250px;
	height:250px;
}

#middle{
	width:300px;
	height:300px;
}