/* ........................................
These is NOtes: 

https://htmlcolorcodes.com/
color picker website
........................................... */

body{	color:#3E052A;
	background-color:#C70039;
	padding:50px;}

a:link{	color: ;
	background-color: ;
	text-decoration: ;}

a:visited{}
a:hover{}
a:active{}
