/* ........................................
These is NOtes: 

https://htmlcolorcodes.com/
color picker website
........................................... */

body{	color:purple;
	background-color:#8E086F;
	padding:50px;}

a:link{	color: ;
	background-color: ;
	text-decoration: ;}

a:visited{}
a:hover{}
a:active{}
