/* ........................................
These is NOtes: 
........................................... */

body{	color:purple;
	background-color:black;
	padding:50px;}

a:link{	color: ;
	background-color: ;
	text-decoration: ;}

a:visited{}
a:hover{}
a:active{}
