/*
............................................
these is notes:

css grid layout module instructions:
https://www.w3schools.com/css/css_grid.asp

!! links must be in this order to work:
A:LINK---A:VISITED---A:HOVER---A:ACTIVE
its dumb but it is(see jessicas infinity pi page)

............................................
*/

body{
	padding: 40px; color: lightblue; background-color: midnightblue;
}

p{ font-size:20px;}

a:link {
	text-decoration:none;
}

a:visited{

}

a:hover{

}

a:active{

}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	background-color: lightblue;
	padding: 10px;
}

.grid-item{
	background-color: black;
	border: 1px solid lightblue;
	padding: 20px;
	font-size: 15px;
	text-align: center;
}
   
#def{
	font-size: 20px;
}