/*
............................................
these is notes:

css grid layout module instructions:
https://www.w3schools.com/css/css_grid.asp

!! links must be in this order to work:
A:LINK---A:VISITED---A:HOVER---A:ACTIVE
its dumb but it is(see jessicas infinity pi page)

............................................
*/

body{
	padding: 40px;
	background-color:darkblue;
	color:white;
}

a:link {
	text-decoration:none;
	color:pink;
	font-size:30px;
}

a:visited{
	color:yellow;

}

a:hover{
	color:orange;

}

a:active{
	color:lightblue;

}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	background-color: lightblue;
	padding: 10px;
}

.grid-item{
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 20px;
	font-size: 15px;
	text-align: center;
}
   
#def{
	font-size: 20px;
}