/*
these is notes:
https://www.w3schools.com/html/html_images.asp
https://www.w3schools.com/css/css3_images.asp
https://www.tutorialspoint.com/How-to-use-an-image-as-a-link-in-HTML

https://www.w3schools.com/html/html_images_imagemap.asp
https://phancybox.com.au/how-to-find-dimensions-image-website/

*/

body{
	padding: 40px; color: #CCD1D1; background-color: #000000;
}

p{ font-size:20px;}
#question {color: #CCD1D1 ;}

a:link {color:#CCD1D1;
	text-decoration:none;
}

a:visited{color:#555151;

}

a:hover{color:#FFFFFF;

}

a:active{

}
img{	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 80%;
}
